@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&family=Pacifico&display=swap');

$font-size: 10px;
$font-family: 'Montserrat', sans-serif;
$highlight-font-family: 'Amatic SC';


$background-color: #fafafa;
$font-color: rgba(0, 0, 0, 0.87);

$main-highlight-color: #4ABDAC;
$main-highlight-text-color: #348579;


$light-grey: #D9D9D9;
$medium-grey: rgba(0, 0, 0, 0.5);

$error-color: #F8DBD9;
$info-color: #C7F2DC;