.footer {
    background-color: $main-highlight-color;
    color: $background-color;
    border-top: solid 2px $main-highlight-color;
    padding: 1.5rem;
    font-size: 1.63rem;
    text-align: center;
    margin-top: 4rem;
    display: inline-block;
    width: 100%;
}