.messages {
    position: absolute;
    font-size: 1.6rem;
    margin-left: 3rem;

    li {
        list-style-type: none;
        padding: 1.5rem 3rem;
        border-radius: 10px;
        margin-bottom: 2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        animation: fadeOut 3s forwards;
    }

    &--error {
        background-color: $error-color;
    }

    &--info {
        background-color: $info-color;
    }
}

@keyframes fadeOut {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
 }